{% extends 'base.html.twig' %}

{% block body %}

  <div class="container">
    <h1>Edit User</h1>
    <div class="row">

      {{ form_start(form) }}

      <div class="col s6">
        <div class="input-field">
          <i class="material-icons prefix">account_circle</i>
          {{ form_widget(form.name) }}
          <label for="icon_prefix">First Name</label>
        </div>
      </div>

      <div class="col s6">
        <div class="input-field">
          <i class="material-icons prefix">account_circle</i>
          {{ form_widget(form.lname) }}
          <label for="icon_prefix">Last Name</label>
        </div>
      </div>

      <div class="col s6">
        <div class="input-field">
          <i class="material-icons prefix">assignment_ind</i>
          {{ form_widget(form.username) }}
          <label for="icon_prefix">Username</label>
        </div>
      </div>

      <div class="col s6">
        <div class="input-field">
          <i class="material-icons prefix">security</i>
          {{ form_widget(form.password) }}
          <label for="icon_prefix">Password</label>
        </div>
      </div>

      <div class="col s6">
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          {{ form_widget(form.email) }}
          <label for="icon_prefix">Email</label>
        </div>
      </div>

      <div class="col s6">
        <div class="input-field">
          {{ form_widget(form.role) }}
          <label>User Type</label>
        </div>
      </div>

      <div class="col s12">
        <div class="input-field">
          {{ form_widget(form.department) }}
          <label>Departament</label>
        </div>
      </div>

      <div class="col s12">
        <div class="file-field input-field">
          <div class="btn indigo">
            <span>
              Image
              <i class="material-icons right">add_a_photo</i>
            </span>
            {{ form_widget(form.attachment) }}
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>

      <div class="col s12 center">
        {{ form_widget(form.save) }}
      </div>

      {{ form_end(form) }}

    </div>
  </div>

{% endblock %}